08_PRODUCT_ENGINEERING/Make_Orchestration/STAGE_1_FINAL/M-AUDIT-LOGGER.json
{
  "name": "SSS-AUDIT-LOGGER",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "SSS_AUDIT_LOGGER_HOOK",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": { "parameters": { "hook": { "label": "SSS Audit Logger Webhook" } } }
      }
    },
    {
      "id": 3,
      "module": "airtable:ActionCreateRecord",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tblrMpTfMk8q1eNHp"
      },
      "filter": {
        "name": "Environment must be set",
        "conditions": [[
          { "a": "{{1.environment}}", "o": "text:exist" }
        ]]
      },
      "mapper": {
        "fields": {
          "Timestamp": "{{formatDate(now; \"YYYY-MM-DDTHH:mm:ssZ\")}}",
          "Triggering_Event": "{{1.triggering_event}}",
          "Source_Data": "{{1.source_data}}",
          "Output": "{{1.output}}",
          "Approval_State": "{{ifempty(1.approval_state; \"AUTONOMOUS\")}}",
          "Reviewed_By": "{{1.reviewed_by}}",
          "Rollback_Linkage": "{{1.rollback_linkage}}",
          "Brand": "{{ifempty(1.brand; \"SSS\")}}",
          "City": "{{1.city}}",
          "Environment": "{{ifempty(1.environment; \"Production\")}}",
          "Model_Version": "{{1.model_version}}",
          "AI_Confidence_Score": "{{1.ai_confidence_score}}",
          "Destination": "{{1.destination}}"
        }
      },
      "metadata": {
        "designer": { "x": 200, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Audit Log" }
          }
        }
      }
    },
    {
      "id": 4,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": { "designer": { "x": 450, "y": 0 } },
      "routes": [
        {
          "flow": [
            {
              "id": 5,
              "module": "http:ActionSendData",
              "version": 3,
              "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
              "filter": {
                "name": "PENDING_HUMAN — human action required",
                "conditions": [[
                  { "a": "{{1.approval_state}}", "o": "text:equal", "b": "PENDING_HUMAN" }
                ]]
              },
              "mapper": {
                "url": "PASTE_SLACK_ALERTS_WEBHOOK_URL_HERE",
                "method": "POST",
                "headers": [{ "name": "Content-Type", "value": "application/json" }],
                "body": "{\"alert_type\": \"OPS\", \"severity\": \"WARNING\", \"title\": \"⚠️ Audit Log — Human Action Required\", \"body\": \"*Event:* {{1.triggering_event}}\\n*Output:* {{1.output}}\\n*Destination:* {{1.destination}}\\n*Audit Record:* {{3.id}}\", \"booking_id\": \"\", \"city\": \"{{ifempty(1.city; \"—\")}}\", \"brand\": \"{{ifempty(1.brand; \"SSS\")}}\"}"
              },
              "metadata": { "designer": { "x": 650, "y": -150 } }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 6,
              "module": "http:ActionSendData",
              "version": 3,
              "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
              "filter": {
                "name": "AUTONOMOUS — routine log",
                "conditions": [[
                  { "a": "{{1.approval_state}}", "o": "text:notEqual", "b": "PENDING_HUMAN" }
                ]]
              },
              "mapper": {
                "url": "PASTE_SLACK_ALERTS_WEBHOOK_URL_HERE",
                "method": "POST",
                "headers": [{ "name": "Content-Type", "value": "application/json" }],
                "body": "{\"alert_type\": \"OPS\", \"severity\": \"INFO\", \"title\": \"📋 Audit Log — {{ifempty(1.approval_state; \"AUTONOMOUS\")}}\", \"body\": \"*Event:* {{1.triggering_event}}\\n*Output:* {{1.output}}\\n*Destination:* {{1.destination}}\\n*Audit Record:* {{3.id}}\", \"booking_id\": \"\", \"city\": \"{{ifempty(1.city; \"—\")}}\", \"brand\": \"{{ifempty(1.brand; \"SSS\")}}\"}"
              },
              "metadata": { "designer": { "x": 650, "y": 150 } }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": "REBINDING REQUIRED: Airtable connection must be rebound to SSS PAT. Table = Audit Log (tblrMpTfMk8q1eNHp). Base = appdZ49WqgjRXxA1R. Copy webhook URL after import — all other scenarios call this via HTTP. PLACEHOLDER: replace PASTE_SLACK_ALERTS_WEBHOOK_URL_HERE in modules 5 and 6. ROUTER: PENDING_HUMAN approval_state → WARNING Slack alert; all others (AUTONOMOUS etc.) → INFO Slack alert. Both post to #sss-ops-alerts via the SSS-SLACK-ALERTS webhook."
  }
}
