08_PRODUCT_ENGINEERING/Make_Orchestration/STAGE_1_FINAL/M-BOOKING-CONFIRMATION.json
{
  "name": "SSS-BOOKING-CONFIRMATION",
  "flow": [
    {
      "id": 1,
      "module": "airtable:WatchRecords",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tbl72omPibBkn2hZL",
        "maxResults": 1,
        "formula": "AND({Status} = 'CONFIRMED', {Confirmation_Sent} = 0, {Environment} = 'Production')",
        "sort": [{ "field": "Created Time", "direction": "asc" }]
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Bookings" }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "airtable:GetRecord",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tblr84vRIWC5HmKvo"
      },
      "filter": {
        "name": "SAFETY + IDEMPOTENCY: all four gates must pass",
        "conditions": [[
          { "a": "{{1.fields.Automations_Paused}}", "o": "text:notEqual", "b": "true" },
          { "a": "{{1.fields.Emergency_Flag}}", "o": "text:notEqual", "b": "true" },
          { "a": "{{1.fields.Concierge_Assigned}}", "o": "text:equal", "b": "true" },
          { "a": "{{1.fields.Confirmation_Sent}}", "o": "text:notEqual", "b": "true" }
        ]]
      },
      "mapper": {
        "recordId": "{{first(1.fields.Client)}}"
      },
      "metadata": {
        "designer": { "x": 200, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Clients" }
          }
        }
      }
    },
    {
      "id": 3,
      "module": "gmail:ActionSendEmail",
      "version": 1,
      "parameters": {
        "account": "hello@shesaidsail.com"
      },
      "mapper": {
        "to": "{{ifempty(2.fields.Email; 1.fields.Client Email)}}",
        "subject": "Your {{if(ifempty(1.fields.Brand; \"SSS\") = \"ME\"; \"Mare Executive\"; \"She Said Sail\")}} Charter is Confirmed! 🎉",
        "bodyType": "html",
        "body": "<p>Hi {{first(split(ifempty(2.fields.Name; ifempty(1.fields.Client Name; \"Valued Guest\")); \" \"))}},</p><p>Your charter is officially confirmed! We cannot wait to create an unforgettable experience for you.</p><p><strong>Booking Details:</strong></p><ul><li><strong>Date:</strong> {{formatDate(1.fields.Charter Date; \"MMMM D, YYYY\")}}</li><li><strong>Experience:</strong> {{1.fields.Yacht Name}}</li><li><strong>Guests:</strong> {{1.fields.Guest Count}}</li><li><strong>Occasion:</strong> {{1.fields.Occasion}}</li><li><strong>Boarding Location:</strong> {{1.fields.Boarding Location}}</li><li><strong>Booking Reference:</strong> {{ifempty(1.fields.Booking ID; 1.id)}}</li></ul><p>Your dedicated concierge will be in touch in the next 48 hours with everything you need to know before your charter.</p><p>In the meantime, please don't hesitate to reply to this email with any questions.</p><p>We'll see you on the water.</p><p>Warmly,<br>The {{if(ifempty(1.fields.Brand; \"SSS\") = \"ME\"; \"Mare Executive\"; \"She Said Sail\")}} Team</p>"
      },
      "metadata": {
        "designer": { "x": 400, "y": 0 },
        "restore": {
          "parameters": {
            "account": { "label": "hello@shesaidsail.com" }
          }
        }
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "https://api.quosms.com/v1/messages",
        "method": "POST",
        "headers": [
          { "name": "Authorization", "value": "Bearer PASTE_QUO_API_KEY_HERE" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "body": "{\"to\": \"{{ifempty(2.fields.Phone; 1.fields.Client Phone)}}\", \"body\": \"Hi {{first(split(ifempty(2.fields.Name; ifempty(1.fields.Client Name; \\\"Valued Guest\\\")); \\\" \\\"))}}! Your {{if(ifempty(1.fields.Brand; \\\"SSS\\\") = \\\"ME\\\"; \\\"Mare Executive\\\"; \\\"She Said Sail\\\")}} charter on {{formatDate(1.fields.Charter Date; \\\"MMMM D, YYYY\\\")}} is confirmed! 🎉 Your concierge will reach out in the next 48 hours. Questions? Email hello@shesaidsail.com — Reply STOP to opt out.\"}"
      },
      "metadata": { "designer": { "x": 600, "y": 0 } }
    },
    {
      "id": 5,
      "module": "airtable:ActionUpdateRecord",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tbl72omPibBkn2hZL"
      },
      "mapper": {
        "recordId": "{{1.id}}",
        "fields": {
          "Confirmation_Sent": true,
          "D0 Sent": true,
          "Last_Automation_Timestamp": "{{formatDate(now; \"YYYY-MM-DDTHH:mm:ssZ\")}}"
        }
      },
      "metadata": {
        "designer": { "x": 800, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Bookings" }
          }
        }
      }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "https://hook.us2.make.com/n2hr4tzsi66ekeyrt65v5v1k4kg4hmqt",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "body": "{\"triggering_event\": \"Booking Status = CONFIRMED — Booking Confirmation Send\", \"source_data\": \"Booking: {{ifempty(1.fields.Booking ID; 1.id)}}, Client: {{first(split(ifempty(2.fields.Name; ifempty(1.fields.Client Name; \\\"Valued Guest\\\")); \\\" \\\"))}}, Date: {{formatDate(1.fields.Charter Date; \\\"MMMM D, YYYY\\\")}}, Email: {{ifempty(2.fields.Email; 1.fields.Client Email)}}\", \"output\": \"Confirmation email sent to {{ifempty(2.fields.Email; 1.fields.Client Email)}}. Confirmation SMS sent to {{ifempty(2.fields.Phone; 1.fields.Client Phone)}}. Confirmation_Sent = true. D0 Sent = true.\", \"approval_state\": \"AUTONOMOUS\", \"brand\": \"{{ifempty(1.fields.Brand; \\\"SSS\\\")}}\", \"city\": \"{{1.fields.City}}\", \"environment\": \"Production\", \"destination\": \"Gmail + Quo SMS + Airtable Bookings\"}"
      },
      "metadata": { "designer": { "x": 1000, "y": 0 } }
    },
    {
      "id": 7,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "PASTE_SLACK_ALERTS_WEBHOOK_URL_HERE",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "body": "{\"alert_type\": \"OPS\", \"severity\": \"INFO\", \"title\": \"✅ Booking Confirmed — Confirmation Sent\", \"body\": \"{{ifempty(1.fields.Client Name; first(split(ifempty(2.fields.Name; \\\"Valued Guest\\\"); \\\" \\\")))}}} — {{1.fields.Yacht Name}} — {{formatDate(1.fields.Charter Date; \\\"MMMM D, YYYY\\\")}}. Confirmation email and SMS sent.\", \"booking_id\": \"{{ifempty(1.fields.Booking ID; 1.id)}}\", \"city\": \"{{1.fields.City}}\", \"brand\": \"{{ifempty(1.fields.Brand; \\\"SSS\\\")}}\"}"
      },
      "metadata": { "designer": { "x": 1200, "y": 0 } }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": "REBINDING REQUIRED: Airtable connection (modules 1, 2, 5), Gmail connection (module 3). PLACEHOLDERS: replace PASTE_QUO_API_KEY_HERE (module 4 — Quo SMS), PASTE_SLACK_ALERTS_WEBHOOK_URL_HERE (module 7 — SSS-SLACK-ALERTS webhook URL). Audit logger URL is live (module 6). SAFETY CHAIN (filter on module 2): Automations_Paused notEqual true AND Emergency_Flag notEqual true AND Concierge_Assigned equal true AND Confirmation_Sent notEqual true — all four gates in a single AND filter. Trigger: Bookings Status = CONFIRMED, Confirmation_Sent = 0, Environment = Production. Reads Client record (module 2) for fresh email/phone/name. Writes: Confirmation_Sent = true, D0 Sent = true."
  }
}
