08_PRODUCT_ENGINEERING/Make_Orchestration/STAGE_1_FINAL/M-BOOKING-CREATION.json
{
  "name": "SSS-BOOKING-CREATION",
  "flow": [
    {
      "id": 1,
      "module": "airtable:WatchRecords",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tblTlSB9CO4dTGodg",
        "maxResults": 1,
        "formula": "AND({Status} = 'AVAILABILITY_CONFIRMED', {Environment} = 'Production')",
        "sort": [{ "field": "Submission Date", "direction": "asc" }]
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Requests" }
          }
        }
      }
    },
    {
      "id": 3,
      "module": "airtable:SearchRecords",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tbl72omPibBkn2hZL",
        "maxRecords": 1
      },
      "mapper": {
        "filterByFormula": "FIND(\"BOOKING-{{1.id}}-{{formatDate(now; \"YYYYMMDD\")}}\", {Idempotency_Key})"
      },
      "metadata": {
        "designer": { "x": 200, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Bookings" }
          }
        }
      }
    },
    {
      "id": 5,
      "module": "airtable:ActionCreateRecord",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tbl72omPibBkn2hZL"
      },
      "filter": {
        "name": "Skip if booking already exists (idempotency)",
        "conditions": [[
          { "a": "{{3.id}}", "o": "text:notExist" }
        ]]
      },
      "mapper": {
        "fields": {
          "Status": "AVAILABILITY_CONFIRMED",
          "Guest Count": "{{toNumber(1.fields.Guest Count)}}",
          "Charter Date": "{{1.fields.Preferred Date}}",
          "Occasion": "{{1.fields.Occasion}}",
          "Boarding Location": "{{1.fields.Boarding Location}}",
          "Charter Notes": "{{1.fields.Special Requests}}",
          "Add-ons": "{{1.fields.Add-Ons Selected}}",
          "Brand": "{{1.fields.Brand}}",
          "City": "{{1.fields.City}}",
          "Client": "{{1.fields.Client}}",
          "Client Name": "{{1.fields.First Name}} {{1.fields.Last Name}}",
          "Client Email": "{{1.fields.Email}}",
          "Client Phone": "{{1.fields.Phone}}",
          "Environment": "Production",
          "Source_System": "Make",
          "Idempotency_Key": "BOOKING-{{1.id}}-{{formatDate(now; \"YYYYMMDD\")}}",
          "Automations_Paused": false,
          "HV Booking": false,
          "Confirmation_Sent": false,
          "Concierge_Assigned": false
        }
      },
      "metadata": {
        "designer": { "x": 400, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Bookings" }
          }
        }
      }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "https://api.stripe.com/v1/payment_links",
        "method": "POST",
        "headers": [
          { "name": "Authorization", "value": "Bearer PASTE_STRIPE_SECRET_KEY_HERE" },
          { "name": "Content-Type", "value": "application/x-www-form-urlencoded" }
        ],
        "body": "line_items[0][price_data][currency]=usd&line_items[0][price_data][unit_amount]={{round(multiply(toNumber(1.fields.Base Price); 50))}}&line_items[0][price_data][product_data][name]={{encodeURL(1.fields.Experience)}}+—+Deposit+(50%25)&line_items[0][price_data][product_data][description]=Deposit+for+{{encodeURL(1.fields.First Name)}}+{{encodeURL(1.fields.Last Name)}}+—+{{encodeURL(1.fields.Preferred Date)}}&line_items[0][quantity]=1&metadata[booking_id]={{5.id}}&metadata[request_id]={{1.id}}&metadata[client_name]={{encodeURL(1.fields.First Name)}}+{{encodeURL(1.fields.Last Name)}}&after_completion[type]=redirect&after_completion[redirect][url]=https%3A%2F%2Fshesaidsail.com%2Fbooking-confirmed"
      },
      "metadata": { "designer": { "x": 600, "y": 0 } }
    },
    {
      "id": 7,
      "module": "airtable:ActionUpdateRecord",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tbl72omPibBkn2hZL"
      },
      "mapper": {
        "recordId": "{{5.id}}",
        "fields": {
          "Status": "DEPOSIT_SENT",
          "Last_Automation_Timestamp": "{{formatDate(now; \"YYYY-MM-DDTHH:mm:ssZ\")}}"
        }
      },
      "metadata": {
        "designer": { "x": 800, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Bookings" }
          }
        }
      }
    },
    {
      "id": 9,
      "module": "gmail:ActionSendEmail",
      "version": 1,
      "parameters": {
        "account": "hello@shesaidsail.com"
      },
      "filter": {
        "name": "Check Automations_Paused before outbound",
        "conditions": [[
          { "a": "{{5.fields.Automations_Paused}}", "o": "text:notEqual", "b": "true" }
        ]]
      },
      "mapper": {
        "to": "{{1.fields.Email}}",
        "subject": "Your {{if(1.fields.Brand = \"ME\"; \"Mare Executive\"; \"She Said Sail\")}} Deposit Link — {{1.fields.First Name}}",
        "bodyType": "html",
        "body": "<p>Hi {{1.fields.First Name}},</p><p>Great news — we've confirmed availability for your {{1.fields.Experience}} on {{1.fields.Preferred Date}}!</p><p>To secure your booking, please complete your 50% deposit using the link below:</p><p><a href=\"{{6.data.url}}\"><strong>Pay Deposit Now</strong></a></p><p>Once your deposit is received, you'll receive your full booking confirmation. This link expires in 24 hours.</p><p>Questions? Just reply to this email.</p><p>Warmly,<br>The {{if(1.fields.Brand = \"ME\"; \"Mare Executive\"; \"She Said Sail\")}} Team</p>"
      },
      "metadata": {
        "designer": { "x": 1000, "y": 0 },
        "restore": {
          "parameters": {
            "account": { "label": "hello@shesaidsail.com" }
          }
        }
      }
    },
    {
      "id": 10,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "https://api.quosms.com/v1/messages",
        "method": "POST",
        "headers": [
          { "name": "Authorization", "value": "Bearer PASTE_QUO_API_KEY_HERE" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "body": "{\"to\": \"{{1.fields.Phone}}\", \"body\": \"Hi {{1.fields.First Name}}! Your {{if(1.fields.Brand = 'ME'; 'Mare Executive'; 'She Said Sail')}} experience is available on {{1.fields.Preferred Date}}. Secure your spot with your deposit: {{6.data.url}} — Reply STOP to opt out.\"}"
      },
      "metadata": { "designer": { "x": 1200, "y": 0 } }
    },
    {
      "id": 11,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "https://hook.us2.make.com/n2hr4tzsi66ekeyrt65v5v1k4kg4hmqt",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "body": "{\"triggering_event\": \"Request Status = AVAILABILITY_CONFIRMED — Booking Creation\", \"source_data\": \"Request ID: {{1.id}}, Client: {{1.fields.First Name}} {{1.fields.Last Name}}, Date: {{1.fields.Preferred Date}}\", \"output\": \"Booking created: {{5.id}}. Stripe deposit link: {{6.data.url}}. Email and SMS sent.\", \"approval_state\": \"AUTONOMOUS\", \"brand\": \"{{1.fields.Brand}}\", \"city\": \"{{1.fields.City}}\", \"environment\": \"Production\", \"destination\": \"Airtable Bookings + Stripe API + Gmail + Quo SMS\"}"
      },
      "metadata": { "designer": { "x": 1400, "y": 0 } }
    },
    {
      "id": 12,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "PASTE_SLACK_ALERTS_WEBHOOK_URL_HERE",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "body": "{\"alert_type\": \"OPS\", \"severity\": \"INFO\", \"title\": \"📋 Booking Created — Deposit Sent\", \"body\": \"{{1.fields.First Name}} {{1.fields.Last Name}} — {{1.fields.Experience}} — {{1.fields.Preferred Date}}. Deposit link sent via email and SMS.\", \"booking_id\": \"{{5.id}}\", \"city\": \"{{1.fields.City}}\", \"brand\": \"{{1.fields.Brand}}\"}"
      },
      "metadata": { "designer": { "x": 1600, "y": 0 } }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": "REBINDING REQUIRED: Airtable connection (modules 1, 3, 5, 7), Gmail connection (module 9). PLACEHOLDERS: replace PASTE_STRIPE_SECRET_KEY_HERE (module 6 — Stripe REST API, use sk_test_... for TEST MODE), PASTE_QUO_API_KEY_HERE (module 10 — Quo SMS), PASTE_SLACK_ALERTS_WEBHOOK_URL_HERE (module 12). Audit logger URL is live (module 11). Stripe payment link URL is at {{6.data.url}} in downstream modules. SAFETY: idempotency filter on module 5, Automations_Paused filter on module 9."
  }
}
