08_PRODUCT_ENGINEERING/Make_Orchestration/STAGE_1_FINAL/M-BRAND-ROUTER.json
{
  "name": "SSS-BRAND-ROUTER",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "SSS_BRAND_ROUTER_HOOK",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": { "parameters": { "hook": { "label": "SSS Brand Router Webhook" } } }
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": { "designer": { "x": 200, "y": 0 } },
      "routes": [
        {
          "filter": {
            "name": "SSS Route",
            "conditions": [[
              { "a": "{{1.source_url}}", "o": "text:contain", "b": "shesaidsail.com" }
            ]]
          },
          "flow": [
            {
              "id": 5,
              "module": "airtable:ActionUpdateRecord",
              "version": 3,
              "parameters": {
                "base": "appdZ49WqgjRXxA1R",
                "table": "tblTlSB9CO4dTGodg"
              },
              "mapper": {
                "recordId": "{{1.request_record_id}}",
                "fields": {
                  "Brand": "SSS",
                  "Source_System": "Make"
                }
              },
              "metadata": {
                "designer": { "x": 400, "y": -200 },
                "restore": {
                  "parameters": {
                    "base": { "label": "She Said Sail" },
                    "table": { "label": "Requests" }
                  }
                }
              }
            },
            {
              "id": 13,
              "module": "gateway:CustomWebHookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "status": "200",
                "body": "{\"brand\": \"SSS\", \"routing_confidence\": \"HIGH\"}"
              },
              "metadata": { "designer": { "x": 650, "y": -200 } }
            }
          ]
        },
        {
          "filter": {
            "name": "ME Route",
            "conditions": [[
              { "a": "{{1.source_url}}", "o": "text:contain", "b": "mareexecutive.com" }
            ]]
          },
          "flow": [
            {
              "id": 8,
              "module": "airtable:ActionUpdateRecord",
              "version": 3,
              "parameters": {
                "base": "appdZ49WqgjRXxA1R",
                "table": "tblTlSB9CO4dTGodg"
              },
              "mapper": {
                "recordId": "{{1.request_record_id}}",
                "fields": {
                  "Brand": "ME",
                  "Source_System": "Make"
                }
              },
              "metadata": {
                "designer": { "x": 400, "y": 0 },
                "restore": {
                  "parameters": {
                    "base": { "label": "She Said Sail" },
                    "table": { "label": "Requests" }
                  }
                }
              }
            },
            {
              "id": 14,
              "module": "gateway:CustomWebHookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "status": "200",
                "body": "{\"brand\": \"ME\", \"routing_confidence\": \"HIGH\"}"
              },
              "metadata": { "designer": { "x": 650, "y": 0 } }
            }
          ]
        },
        {
          "filter": {
            "name": "Ambiguous — Needs Classification",
            "conditions": [[
              { "a": "{{1.source_url}}", "o": "text:notContain", "b": "shesaidsail.com" },
              { "a": "{{1.source_url}}", "o": "text:notContain", "b": "mareexecutive.com" }
            ]]
          },
          "flow": [
            {
              "id": 11,
              "module": "slack:ActionPostMessage",
              "version": 1,
              "parameters": {
                "channel": "#sss-ops-alerts"
              },
              "mapper": {
                "text": "⚠️ *Brand Classification UNKNOWN — Manual Action Required*\nInbound request from *{{1.source_url}}* could not be classified as SSS or ME.\n*Request ID:* {{1.request_record_id}}\nLuciana: please set the Brand field manually in Airtable.\n_{{formatDate(now; \"YYYY-MM-DD HH:mm\")}} UTC_"
              },
              "metadata": {
                "designer": { "x": 400, "y": 200 },
                "restore": {
                  "parameters": {
                    "channel": { "label": "#sss-ops-alerts" }
                  }
                }
              }
            },
            {
              "id": 15,
              "module": "gateway:CustomWebHookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "status": "200",
                "body": "{\"brand\": \"UNKNOWN\", \"routing_confidence\": \"LOW\"}"
              },
              "metadata": { "designer": { "x": 650, "y": 200 } }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] },
    "zone": "us2.make.com",
    "notes": "REBINDING REQUIRED: Airtable connection (modules 5, 8). Slack OAuth connection (module 11). Route filters are on route objects — not on modules inside routes. SSS route → Brand=SSS + respond 200. ME route → Brand=ME + respond 200. Ambiguous → Slack ⚠️ WARNING to #sss-ops-alerts + respond 200 UNKNOWN."
  }
}
