08_PRODUCT_ENGINEERING/Make_Orchestration/STAGE_1_FINAL/M-LEAD-INTAKE.json
{
  "name": "SSS-LEAD-INTAKE",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "SSS_LEAD_INTAKE_HOOK",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": { "parameters": { "hook": { "label": "SSS Lead Intake Webhook — register URL in Webflow Form Submission" } } }
      }
    },
    {
      "id": 3,
      "module": "airtable:SearchRecords",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tblTlSB9CO4dTGodg",
        "maxRecords": 1
      },
      "mapper": {
        "filterByFormula": "FIND(\"LEAD-{{1.email}}-{{1.preferred_date}}-{{1.guest_count}}\", {Idempotency_Key})"
      },
      "metadata": {
        "designer": { "x": 200, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Requests" }
          }
        }
      }
    },
    {
      "id": 5,
      "module": "airtable:ActionCreateRecord",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tblTlSB9CO4dTGodg"
      },
      "filter": {
        "name": "Skip if duplicate lead",
        "conditions": [[
          { "a": "{{3.id}}", "o": "text:notExist" }
        ]]
      },
      "mapper": {
        "fields": {
          "First Name": "{{1.first_name}}",
          "Last Name": "{{1.last_name}}",
          "Email": "{{1.email}}",
          "Phone": "{{1.phone}}",
          "Yacht": "{{1.yacht}}",
          "Experience": "{{1.experience}}",
          "Duration": "{{1.duration}}",
          "Preferred Date": "{{1.preferred_date}}",
          "Guest Count": "{{1.guest_count}}",
          "Occasion": "{{1.occasion}}",
          "Boarding Location": "{{1.boarding_location}}",
          "Add-Ons Selected": "{{1.add_ons}}",
          "Special Requests": "{{1.special_requests}}",
          "Status": "NEW",
          "Environment": "Production",
          "Source_System": "Make",
          "Brand": "{{if(contains(1.source_url; \"mareexecutive.com\"); \"ME\"; \"SSS\")}}",
          "City": "{{1.city}}",
          "Idempotency_Key": "LEAD-{{1.email}}-{{1.preferred_date}}-{{1.guest_count}}"
        }
      },
      "metadata": {
        "designer": { "x": 400, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Requests" }
          }
        }
      }
    },
    {
      "id": 6,
      "module": "gmail:ActionSendEmail",
      "version": 1,
      "parameters": {
        "account": "hello@shesaidsail.com"
      },
      "mapper": {
        "to": "{{1.email}}",
        "subject": "We received your {{if(contains(1.source_url; \"mareexecutive.com\"); \"Mare Executive\"; \"She Said Sail\")}} inquiry, {{1.first_name}}!",
        "bodyType": "html",
        "body": "<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head><body style=\"margin:0;padding:0;background-color:#f4f1ec;font-family:'Georgia',serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f1ec;padding:40px 0;\"><tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;max-width:600px;\"><tr><td align=\"center\" style=\"background-color:#0a2342;padding:32px 40px;\"><img src=\"https://shesaidsail.com/wp-content/uploads/2026/03/Asset-3.png\" alt=\"She Said Sail\" width=\"160\" style=\"display:block;\"/></td></tr><tr><td style=\"padding:0;line-height:0;\"><img src=\"https://shesaidsail.com/wp-content/uploads/2026/04/SheSaidSail_April2026PhotographerSusanBerry-16-2048x1365.jpg\" alt=\"She Said Sail\" width=\"600\" style=\"display:block;width:100%;max-width:600px;\"/></td></tr><tr><td align=\"center\" style=\"background-color:#0a2342;padding:36px 40px;\"><p style=\"color:#c9a84c;font-size:11px;letter-spacing:4px;text-transform:uppercase;margin:0 0 14px 0;\">You're one step closer</p><h1 style=\"color:#ffffff;font-size:26px;margin:0;letter-spacing:1px;font-weight:normal;\">We received your inquiry</h1><p style=\"color:#c9a84c;font-size:13px;margin:14px 0 0 0;letter-spacing:1px;\">— {{formatDate(parseDate(1.preferred_date; \"YYYY-MM-DD\"); \"MMMM D, YYYY\")}} —</p></td></tr><tr><td style=\"padding:48px 48px 28px 48px;\"><p style=\"color:#0a2342;font-size:18px;line-height:1.6;margin:0 0 6px 0;\">Hi {{1.first_name}},</p><p style=\"color:#555555;font-size:15px;line-height:1.9;margin:16px 0 0 0;\">We're so glad you reached out. Your inquiry has been received. We're available Monday through Friday, 9am to 5pm EST. If you've reached us during business hours, you'll hear from us soon. We can't wait to make your experience unforgettable.</p></td></tr><tr><td style=\"padding:0 48px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background-color:#f9f6f0;border-top:2px solid #c9a84c;border-bottom:2px solid #c9a84c;padding:28px 24px;\"><p style=\"color:#c9a84c;font-size:10px;letter-spacing:3px;text-transform:uppercase;margin:0 0 18px 0;\">Your Charter Details</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"color:#999999;font-size:13px;padding:7px 0;width:44%;font-style:italic;\">Experience</td><td style=\"color:#0a2342;font-size:14px;font-weight:bold;padding:7px 0;\">{{1.experience}}</td></tr><tr><td style=\"color:#999999;font-size:13px;padding:7px 0;font-style:italic;\">Preferred Date</td><td style=\"color:#0a2342;font-size:14px;font-weight:bold;padding:7px 0;\">{{formatDate(parseDate(1.preferred_date; \"YYYY-MM-DD\"); \"MMMM D, YYYY\")}}</td></tr><tr><td style=\"color:#999999;font-size:13px;padding:7px 0;font-style:italic;\">Guests</td><td style=\"color:#0a2342;font-size:14px;font-weight:bold;padding:7px 0;\">{{1.guest_count}}</td></tr><tr><td style=\"color:#999999;font-size:13px;padding:7px 0;font-style:italic;\">Occasion</td><td style=\"color:#0a2342;font-size:14px;font-weight:bold;padding:7px 0;\">{{1.occasion}}</td></tr></table></td></tr></table></td></tr><tr><td style=\"padding:36px 48px 48px 48px;\"><p style=\"color:#555555;font-size:15px;line-height:1.9;margin:0;\">In the meantime, don't hesitate to reply to this email. We'd love to hear more about your vision.</p><p style=\"color:#0a2342;font-size:15px;line-height:1.9;margin:28px 0 0 0;\">With warmth,<br><em style=\"color:#c9a84c;font-size:16px;\">The {{if(contains(1.source_url; \"mareexecutive.com\"); \"Mare Executive\"; \"She Said Sail\")}} Team</em></p></td></tr><tr><td align=\"center\" style=\"background-color:#0a2342;padding:36px 40px;\"><table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 auto 20px auto;\"><tr><td style=\"padding:0 14px;\"><a href=\"https://www.instagram.com/shesaidsail/\" target=\"_blank\" style=\"color:#c9a84c;text-decoration:none;font-size:11px;letter-spacing:2px;text-transform:uppercase;\">&#9679; Instagram</a></td><td style=\"color:#c9a84c;font-size:12px;opacity:0.4;\">|</td><td style=\"padding:0 14px;\"><a href=\"https://www.tiktok.com/@shesaidsail\" target=\"_blank\" style=\"color:#c9a84c;text-decoration:none;font-size:11px;letter-spacing:2px;text-transform:uppercase;\">&#9679; TikTok</a></td></tr></table><table width=\"80\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 auto 20px auto;\"><tr><td style=\"border-top:1px solid #c9a84c;font-size:0;\">&nbsp;</td></tr></table><p style=\"color:#ffffff;font-size:12px;margin:0 0 6px 0;letter-spacing:1px;\"><a href=\"mailto:hello@shesaidsail.com\" style=\"color:#c9a84c;text-decoration:none;\">hello@shesaidsail.com</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href=\"tel:+17547012228\" style=\"color:#ffffff;text-decoration:none;\">(754) 701-2228</a></p><p style=\"color:#ffffff;font-size:11px;margin:8px 0 0 0;opacity:0.5;letter-spacing:1px;\"><a href=\"#\" style=\"color:#ffffff;text-decoration:none;\">1314 East Las Olas Blvd #2597&nbsp;&nbsp;Fort Lauderdale, FL 33301</a></p><p style=\"color:#ffffff;font-size:10px;margin:16px 0 0 0;opacity:0.4;letter-spacing:1px;\">&#169; 2025 She Said Sail. All rights reserved.</p></td></tr></table></td></tr></table></body></html>"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {
          "parameters": {
            "account": { "label": "hello@shesaidsail.com" }
          }
        }
      }
    },
    {
      "id": 7,
      "module": "slack:ActionPostMessage",
      "version": 1,
      "parameters": {
        "channel": "#sss-ops-alerts"
      },
      "mapper": {
        "text": "🆕 *New Lead — {{if(contains(1.source_url; \"mareexecutive.com\"); \"Mare Executive\"; \"She Said Sail\")}}*\n*Name:* {{1.first_name}} {{1.last_name}}\n*Experience:* {{1.experience}}\n*Date:* {{1.preferred_date}} | *Guests:* {{1.guest_count}}\n*Occasion:* {{1.occasion}}\n*Email:* {{1.email}} | *Phone:* {{1.phone}}\n*Source:* {{1.source_url}}\n*Record:* {{5.id}}\n_{{formatDate(now; \"YYYY-MM-DD HH:mm\")}} UTC_"
      },
      "metadata": {
        "designer": { "x": 800, "y": 0 },
        "restore": {
          "parameters": {
            "channel": { "label": "#sss-ops-alerts" }
          }
        }
      }
    },
    {
      "id": 8,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "https://hook.us2.make.com/n2hr4tzsi66ekeyrt65v5v1k4kg4hmqt",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "body": "{\"triggering_event\": \"Webflow form submission — Lead Intake\", \"source_data\": \"Email: {{1.email}}, Date: {{1.preferred_date}}, Guests: {{1.guest_count}}, Source: {{1.source_url}}\", \"output\": \"Request record created: {{5.id}}. Auto-reply sent to {{1.email}}. Slack notified.\", \"approval_state\": \"AUTONOMOUS\", \"brand\": \"{{if(contains(1.source_url; \\\"mareexecutive.com\\\"); \\\"ME\\\"; \\\"SSS\\\")}}\", \"city\": \"{{1.city}}\", \"environment\": \"Production\", \"destination\": \"Airtable Requests (tblTlSB9CO4dTGodg) + Gmail + Slack #sss-ops-alerts\"}"
      },
      "metadata": { "designer": { "x": 1000, "y": 0 } }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": "REBINDING REQUIRED: Airtable connection (modules 3, 5), Gmail connection (module 6), Slack OAuth (module 7). Audit logger URL is live (module 8). AFTER IMPORT: copy this scenario webhook URL and paste into Webflow Form Submission settings. Brand is determined inline from source_url (mareexecutive.com = ME, else SSS) — no dependency on Brand Router. Idempotency key: LEAD-email-date-guestcount. Filter on module 5 prevents duplicate records."
  }
}
