08_PRODUCT_ENGINEERING/Make_Orchestration/STAGE_1_FINAL/M-LEAD-INTAKE.json
{
  "name": "SSS-LEAD-INTAKE",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "SSS_LEAD_INTAKE_HOOK",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": { "parameters": { "hook": { "label": "SSS Lead Intake Webhook — register URL in Webflow Form Submission" } } }
      }
    },
    {
      "id": 3,
      "module": "airtable:SearchRecords",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tblTlSB9CO4dTGodg",
        "maxRecords": 1
      },
      "mapper": {
        "filterByFormula": "FIND(\"LEAD-{{1.email}}-{{1.preferred_date}}-{{1.guest_count}}\", {Idempotency_Key})"
      },
      "metadata": {
        "designer": { "x": 200, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Requests" }
          }
        }
      }
    },
    {
      "id": 5,
      "module": "airtable:ActionCreateRecord",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tblTlSB9CO4dTGodg"
      },
      "filter": {
        "name": "Skip if duplicate lead",
        "conditions": [[
          { "a": "{{3.id}}", "o": "text:notExist" }
        ]]
      },
      "mapper": {
        "fields": {
          "First Name": "{{1.first_name}}",
          "Last Name": "{{1.last_name}}",
          "Email": "{{1.email}}",
          "Phone": "{{1.phone}}",
          "Yacht": "{{1.yacht}}",
          "Experience": "{{1.experience}}",
          "Duration": "{{1.duration}}",
          "Preferred Date": "{{1.preferred_date}}",
          "Guest Count": "{{toNumber(1.guest_count)}}",
          "Occasion": "{{1.occasion}}",
          "Boarding Location": "{{1.boarding_location}}",
          "Add-Ons Selected": "{{1.add_ons}}",
          "Special Requests": "{{1.special_requests}}",
          "Status": "NEW",
          "Environment": "Production",
          "Source_System": "Make",
          "Brand": "{{if(contains(1.source_url; \"mareexecutive.com\"); \"ME\"; \"SSS\")}}",
          "City": "{{1.city}}",
          "Submission Date": "{{formatDate(now; \"YYYY-MM-DDTHH:mm:ssZ\")}}",
          "Idempotency_Key": "LEAD-{{1.email}}-{{1.preferred_date}}-{{1.guest_count}}"
        }
      },
      "metadata": {
        "designer": { "x": 400, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Requests" }
          }
        }
      }
    },
    {
      "id": 6,
      "module": "gmail:ActionSendEmail",
      "version": 1,
      "parameters": {
        "account": "hello@shesaidsail.com"
      },
      "mapper": {
        "to": "{{1.email}}",
        "subject": "We received your {{if(contains(1.source_url; \"mareexecutive.com\"); \"Mare Executive\"; \"She Said Sail\")}} inquiry, {{1.first_name}}!",
        "bodyType": "html",
        "body": "<p>Hi {{1.first_name}},</p><p>Thank you for reaching out! We've received your inquiry and our team will be in touch within a few hours to discuss availability and details for your experience.</p><p>Here's a summary of what you submitted:</p><ul><li><strong>Experience:</strong> {{1.experience}}</li><li><strong>Preferred Date:</strong> {{1.preferred_date}}</li><li><strong>Guests:</strong> {{1.guest_count}}</li></ul><p>We'll reach out shortly. In the meantime, feel free to reply to this email with any questions.</p><p>Warmly,<br>The {{if(contains(1.source_url; \"mareexecutive.com\"); \"Mare Executive\"; \"She Said Sail\")}} Team</p>"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {
          "parameters": {
            "account": { "label": "hello@shesaidsail.com" }
          }
        }
      }
    },
    {
      "id": 7,
      "module": "slack:ActionPostMessage",
      "version": 1,
      "parameters": {
        "channel": "#sss-ops-alerts"
      },
      "mapper": {
        "text": "🆕 *New Lead — {{if(contains(1.source_url; \"mareexecutive.com\"); \"Mare Executive\"; \"She Said Sail\")}}*\n*Name:* {{1.first_name}} {{1.last_name}}\n*Experience:* {{1.experience}}\n*Date:* {{1.preferred_date}} | *Guests:* {{1.guest_count}}\n*Occasion:* {{1.occasion}}\n*Email:* {{1.email}} | *Phone:* {{1.phone}}\n*Source:* {{1.source_url}}\n*Record:* {{5.id}}\n_{{formatDate(now; \"YYYY-MM-DD HH:mm\")}} UTC_"
      },
      "metadata": {
        "designer": { "x": 800, "y": 0 },
        "restore": {
          "parameters": {
            "channel": { "label": "#sss-ops-alerts" }
          }
        }
      }
    },
    {
      "id": 8,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "https://hook.us2.make.com/n2hr4tzsi66ekeyrt65v5v1k4kg4hmqt",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "body": "{\"triggering_event\": \"Webflow form submission — Lead Intake\", \"source_data\": \"Email: {{1.email}}, Date: {{1.preferred_date}}, Guests: {{1.guest_count}}, Source: {{1.source_url}}\", \"output\": \"Request record created: {{5.id}}. Auto-reply sent to {{1.email}}. Slack notified.\", \"approval_state\": \"AUTONOMOUS\", \"brand\": \"{{if(contains(1.source_url; \\\"mareexecutive.com\\\"); \\\"ME\\\"; \\\"SSS\\\")}}\", \"city\": \"{{1.city}}\", \"environment\": \"Production\", \"destination\": \"Airtable Requests (tblTlSB9CO4dTGodg) + Gmail + Slack #sss-ops-alerts\"}"
      },
      "metadata": { "designer": { "x": 1000, "y": 0 } }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": "REBINDING REQUIRED: Airtable connection (modules 3, 5), Gmail connection (module 6), Slack OAuth (module 7). Audit logger URL is live (module 8). AFTER IMPORT: copy this scenario webhook URL and paste into Webflow Form Submission settings. Brand is determined inline from source_url (mareexecutive.com = ME, else SSS) — no dependency on Brand Router. Idempotency key: LEAD-email-date-guestcount. Filter on module 5 prevents duplicate records."
  }
}
