08_PRODUCT_ENGINEERING/Make_Orchestration/STAGE_1_FINAL/M-STRIPE-DEPOSIT.json
{
  "name": "SSS-STRIPE-DEPOSIT",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "SSS_STRIPE_DEPOSIT_HOOK",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": { "parameters": { "hook": { "label": "SSS Stripe Deposit Webhook — register in Stripe Developers → Webhooks" } } }
      }
    },
    {
      "id": 4,
      "module": "airtable:SearchRecords",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tbl72omPibBkn2hZL",
        "maxRecords": 1
      },
      "filter": {
        "name": "Only process payment_intent.succeeded",
        "conditions": [[
          { "a": "{{1.type}}", "o": "text:equal", "b": "payment_intent.succeeded" }
        ]]
      },
      "mapper": {
        "filterByFormula": "OR(FIND(\"{{1.data.object.id}}\", {Stripe Payment Intent ID}), FIND(\"{{1.data.object.id}}\", {Idempotency_Key}))"
      },
      "metadata": {
        "designer": { "x": 200, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Bookings" }
          }
        }
      }
    },
    {
      "id": 7,
      "module": "airtable:ActionUpdateRecord",
      "version": 3,
      "parameters": {
        "base": "appdZ49WqgjRXxA1R",
        "table": "tbl72omPibBkn2hZL"
      },
      "filter": {
        "name": "Booking found, not already DEPOSIT_PAID, and not Sandbox",
        "conditions": [[
          { "a": "{{4.id}}", "o": "text:exist" },
          { "a": "{{4.fields.Status}}", "o": "text:notEqual", "b": "DEPOSIT_PAID" },
          { "a": "{{4.fields.Environment}}", "o": "text:notEqual", "b": "Sandbox" }
        ]]
      },
      "mapper": {
        "recordId": "{{4.id}}",
        "fields": {
          "Status": "DEPOSIT_PAID",
          "Source_System": "Stripe",
          "Last_Automation_Timestamp": "{{formatDate(now; \"YYYY-MM-DDTHH:mm:ssZ\")}}"
        }
      },
      "metadata": {
        "designer": { "x": 400, "y": 0 },
        "restore": {
          "parameters": {
            "base": { "label": "She Said Sail" },
            "table": { "label": "Bookings" }
          }
        }
      }
    },
    {
      "id": 8,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "PASTE_SLACK_ALERTS_WEBHOOK_URL_HERE",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "body": "{\"alert_type\": \"OPS\", \"severity\": \"INFO\", \"title\": \"💳 Deposit Received\", \"body\": \"${{divide(1.data.object.amount_received; 100)}} deposit confirmed via Stripe. Booking status updated to DEPOSIT_PAID.\", \"booking_id\": \"{{4.fields.Booking ID}}\", \"city\": \"{{4.fields.City}}\", \"brand\": \"{{4.fields.Brand}}\"}"
      },
      "metadata": { "designer": { "x": 600, "y": 0 } }
    },
    {
      "id": 9,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "https://hook.us2.make.com/n2hr4tzsi66ekeyrt65v5v1k4kg4hmqt",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "body": "{\"triggering_event\": \"Stripe payment_intent.succeeded — deposit\", \"source_data\": \"Payment Intent ID: {{1.data.object.id}}, Amount: ${{divide(1.data.object.amount_received; 100)}} {{1.data.object.currency}}, Customer: {{1.data.object.receipt_email}}\", \"output\": \"Booking {{4.fields.Booking ID}} updated to DEPOSIT_PAID\", \"approval_state\": \"AUTONOMOUS\", \"brand\": \"{{4.fields.Brand}}\", \"city\": \"{{4.fields.City}}\", \"environment\": \"{{4.fields.Environment}}\", \"destination\": \"Airtable Bookings (tbl72omPibBkn2hZL)\"}"
      },
      "metadata": { "designer": { "x": 800, "y": 0 } }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": "REBINDING REQUIRED: Airtable connection (modules 4, 7). STRIPE SETUP: register webhook in Stripe → Developers → Webhooks for event payment_intent.succeeded. Copy signing secret into credential vault. PLACEHOLDERS: replace PASTE_SLACK_ALERTS_WEBHOOK_URL_HERE (module 8), https://hook.us2.make.com/n2hr4tzsi66ekeyrt65v5v1k4kg4hmqt (module 9). SAFETY: combined filter on module 7 prevents processing if already DEPOSIT_PAID (idempotency) or Environment = Sandbox. All variables from builtin:SetVariables have been inlined."
  }
}
